/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
}

/* color panel */

:root{
    --card-bg: #0f0e17;
    --title: #e53170;
    --main-bg: #fffffe;
}

/* container config */
.container{
    max-width: 1400px;
    margin: 0 auto;
    text-align: center;
}
/* header config */
header{
    padding-top: 2rem;
    padding-bottom: 3rem;
}

h1{
    color: var(--title)
}


